<h1> Contact Form</h1>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Full Name</mat-label>
      <input matInput placeholder="Ex. Vigneshwaran Sakthiganesh ">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Email address</mat-label>
      <textarea matInput placeholder="Ex. Rajaganesh@hotmail.com"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Mobile number</mat-label>
      <textarea matInput placeholder="Ex. +91 7865XXXXX"></textarea>
    </mat-form-field>
    <button mat-flat-button color="primary">Submit</button>
  </form>